<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.StatusBarBrightnessGesture"
        android:enableOnBackInvokedCallback="true">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="@string/module_description" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposedscope" />

        <activity
            android:name=".IndicatorAppearanceActivity"
            android:label="Indicator appearance"
            android:exported="false" />

        <service
            android:name=".AutoBrightnessTileService"
            android:label="Auto brightness"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true"
            android:icon="@drawable/ic_tile_auto_brightness">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

    </application>
</manifest>